html{
  --menu-height: 32px;
  font-size: 12px;
}

html,body,
#root{
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main{
  display: flex;
  flex-wrap: wrap;
  height: calc(100% - var(--menu-height));
  justify-content: space-between;
  position: fixed;
  top:var(--menu-height);
  width: 100%;
}
.menu{
  background: #232323;
  border-bottom: 1px solid #2E2E2E;
  box-sizing: border-box;
  color: #858585;
  font-size: 1rem;
  height: var(--menu-height);
  line-height: var(--menu-height);
  padding: 0 1.25rem;
  overflow: visible;
}

.menu{
  height: var(--menu-height);
  background: #232323;
  box-sizing: border-box;
  border-bottom: 1px solid #2E2E2E;
  color: #858585;
  font-size: 12px;
  line-height: var(--menu-height);
  padding: 0 16px;
  overflow: visible;
}
.ant-dropdown-menu{
  background: #232323!important;
}
.ant-dropdown-menu-item.ant-dropdown-menu-item, 
.ant-dropdown-menu-submenu-title.ant-dropdown-menu-submenu-title{
  padding-top:0;
  padding-bottom:0;
}
.ant-dropdown-menu-item.ant-dropdown-menu-item:hover, 
.ant-dropdown-menu-submenu-title.ant-dropdown-menu-submenu-title:hover{
  background: transparent;
}
.menu-file__overlay{
  position: absolute;
  z-index: 999;
  opacity: 1!important;
  width: 100px;
}
.o-menu-title,
.menu-file__overlay a{
  color: #858585;
  text-decoration:none;
  cursor: pointer;
}
.o-menu-title + .o-menu-title{
  margin-left: 1rem;
}
.menu-file__overlay a:hover,
.o-menu-title:hover{
  color:#e8e7e7;
  text-decoration:none;
}
.editor{
  box-sizing: border-box;
  flex: 1;
  height: 100%;
  overflow:hidden;
  background: gray;
}

.preview {
  all: initial;
  flex: 1;
  height: 100%;
  margin: 0;
  overflow: auto;
  padding: 2rem;
}

.preview mjx-container[jax="SVG"][display="true"]{
  display: inline-block;
}

@media print {
  html{
     --menu-height: 0px;
  }
  .editor, .menu,.menu-file__overlay, .preview__pdf-btn{
    display: none!important;
  }
  html, body, #root,
  .main, .preview{
    position: static;
    height: auto;
    overflow: visible;
  }
}